
td.formTable {
    line-height: normal;
    vertical-align: top;
    text-align: left;
    text-indent: inherit;
    white-space: normal;
    word-spacing: normal;
    letter-spacing: normal;
    border: thin dotted #00FFFF;
    padding: inherit;
    margin: auto;
    height: 20px;
    width: 100%
}

.formTbx {
    background-color: #F0F0F0;
    border-color: #DDDDDD;
    font-family: Book Antiqua;
    Font-Size: Medium;
}

.footer {
    margin-bottom: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e6e6e6;
    color: white;
    text-align: left;
}